.new-container {
  width: 100vw;
  height: 100vh;
  background: url('../../assets/photo/cycle.jpg') #222 no-repeat 50%;
  background-size: cover;
  color: #fff;
}

.top-nav {
  padding: 30px 30px 0 0;
  height: 20vh;
  box-sizing: border-box;
}

.navigation-toggle {
  opacity: 1;
  cursor: pointer;
}

.toggle-button {
  transition: .15s ease-in-out;
  background: none;
  border: 0 none;
  color: #fff;
  margin-left: 80%;
  font-family: Avenir Next W01 Light, Helvetica Neue, helvetica, arial, sans-serif;
  font-size: 15px;
  height: 45px;
  line-height: 1;
  padding: 0;
  position: relative;
  transition-property: color;
  -webkit-appearance: none;
  width: 80px;

  .toggle-button-menu-text {
    position: absolute;
    left: 0;
    top: 15px;
    transition: .15s linear;
  }

  .toggle-icon {
    display: block;
    float: right;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition: .15s linear;
  }
}

.toggle-button:hover {
  border: none;
  outline: none;
}

.toggle-button:active {
  border: none;
  outline: none;
}

.toggle-button-icon-bar {
  background: #fff;
  border-radius: 2px;
  display: block;
  height: 2px;
  margin: 3px 0;
  width: 21px;
  transition-property: all;
}

.toggle-button-icon-bar-active-rotate-right {
  -webkit-transform: rotate(45deg) translateY(7px);
  -ms-transform: rotate(45deg) translateY(7px);
  transform: rotate(45deg) translateY(7px);
}

.toggle-button-icon-bar-active-hide {
  opacity: 0;
}

.toggle-button-icon-bar-active-rotate-left {
  -webkit-transform: rotate(-45deg) translateY(-7px);
  -ms-transform: rotate(-45deg) translateY(-7px);
  transform: rotate(-45deg) translateY(-7px);
}

.show-menu {
  background-color: transparent;
  height: 100vh;
  left: 0;
  display: none;
  overflow: hidden;
  position: absolute;
  top: -100vh;
  transition: background-color .1s linear;
  width: 100%;
  will-change: background-color;
  z-index: 300;
}

.showMenuActive {
  background-color: rgba(0, 0, 0, 1);
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
}

.hide-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.navigation-primary {
  background-color: #191819;
  transition: all .25s ease-in-out;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: .5;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.hide-nav {
  font-size: 30px;
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0 0 20px;
  text-align: center;
}

.hide-col {
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}

.hide-link {
  color: #fff;
  display: inline-block;
  font-size: 33px;
  padding: 10px 0;
  font-family: Quarto A, Quarto B, Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
  font-weight: 600;
  transition: red 75ms ease-in-out;
  will-change: red;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}