$highlight: #df241b;
$danger: #ec3b3b;
$background: #f4f8fb;
$money: #ef7207;
$dark-background: #2c3039;
$blur-background: rgba(0, 0, 0, 0.25);
$cell-background: #f7f7f7;
$disabled: #ccc;
$primary-text: #525252;
$slight-text: #666;
$light-text: #808080;
$lighter-text: #999;
$lightest-text: #b2b2b2;
$font-family: 'Segoe UI', 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;

$white: #fff;

