.text_popup {
  animation: textPopUp 1s;
  color: blue;
  user-select: none;
  white-space: nowrap;
  position: absolute;
  z-index: 999;
}

@keyframes textPopUp {

  0%,
  100% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: translateY(-50px);
  }
}